<html lang="en" >
<head>
  <title>NASA space photos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <!-- Material Icons style sheet -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="photoApp" ng-controller="photoCtrl" ng-init="loadPhoto(NASA)" ng-cloak>
  <!--
    Your HTML content here
  -->

  <md-content layout-padding>
    <md-card>
      <md-card-title><h1>{{ photo.title }}</h1></md-card-title>
      <md-card-content>
        <h3>Explanation</h3>
        <p>{{ photo.explanation }}</p>
        <md-button class="md-raised" ng-href="{{ photo.url }}" ng-if="photo.media_type === 'image'" download><md-icon>file_download</md-icon> DOWNLOAD</md-button>
        <md-button class="md-raised" ng-href="{{ photo.hdurl }}" ng-if="photo.media_type === 'image'" download><md-icon>file_download</md-icon> HD VERSION</md-button>
        <p ng-show="photo.copyright"><em>Copyright: {{ photo.copyright }}</em></p>
      </md-card-content>
      <md-datepicker ng-model="customDate" ng-change="loadPhoto(customUrl + convertDate(customDate))" md-max-date="maxDate"></md-datepicker>
    </md-card>

    <img ng-src="{{ photo.url }}" ng-if="photo.media_type === 'image'">
    <iframe ng-src="{{ videoUrl }}" ng-if="photo.media_type === 'video'" width="420" height="315"></iframe>
  </md-content>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="app.js"></script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->