<html lang="en" >
<head>
  <title>NASA space photos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <!-- Material Icons style sheet -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="photoApp" ng-controller="photoCtrl" ng-init="loadPhoto(NASA)" ng-cloak>
  <!--
    Your HTML content here
  -->
    
    <div layout="row" layout-xs="column">

      <md-card flex="25" flex-xs="100">
        <div>
          <md-card-title>
            <md-card-title-text>
              <h1>{{ photo.title }}</h1>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <h3>Explanation</h3>
            <p>{{ photo.explanation }}</p>
            <md-divider></md-divider>
            <!--<p>{{ customDate.toLocaleDateString() }}</p>-->
            <p>{{ customDate.toDateString() }}</p>
          </md-card-content>
        </div>
      </md-card>

      <md-card flex="50" flex-xs="100" md-whiteframe="3">
        <img ng-src="{{ photo.url }}" ng-if="photo.media_type === 'image'">
        <iframe ng-src="{{ videoUrl }}" ng-if="photo.media_type === 'video'" width="100%" height="100%"></iframe>

        <md-card-actions align="end">
          <span ng-show="photo.copyright"><em>Copyright: {{ photo.copyright }}</em></span>

          <!-- UI components for tablets and desktop computers -->
          <span hide-xs>
            <md-button class="md-raised" ng-href="{{ photo.url }}" ng-if="photo.media_type === 'image'" download><md-icon>file_download</md-icon> DOWNLOAD</md-button>
            <md-button class="md-raised" ng-href="{{ photo.hdurl }}" ng-if="photo.media_type === 'image'" download><md-icon>file_download</md-icon> HD VERSION</md-button>
          </span>

          <!-- UI components for mobile devices -->
          <span hide-gt-xs>
            <md-datepicker ng-model="customDate" ng-change="loadPhoto(customUrl + convertDate(customDate))" md-max-date="maxDate"></md-datepicker>
            <md-button class="md-fab"><md-icon>file_download</md-icon></md-button>
            <md-button class="md-fab"><md-icon>high_quality</md-icon></md-button>
          </span>
        </md-card-actions>
      </md-card>

      <md-card flex="25" flex-xs="100" layout="row" layout-xs="column">
        <div>
          <md-card-content>
            <md-card-subtitle><h3>NASA Astronomy Photo of the Day</h3></md-card-subtitle>
            <md-calendar ng-model="customDate" ng-change="loadPhoto(customUrl + convertDate(customDate))" md-max-date="maxDate"></md-calendar>
          </md-card-content>
        </div>
      </md-card>

    </div>
  

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="app.js"></script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->